
body{
font-family: sans-serif;
}
.App {
  display: flex;
  /* border: 1px solid black; */
  margin: auto;
  width: fit-content;
  /* padding: 50px; */
  text-align: center;
  gap: 320px;
  margin-top: 50px;
  overflow-x: hidden;
}
.History_phe {
  width: 102px;
  height: 36px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.line {
  width: 300px;
  height: 1px;
  background: #B7B7B7;
  border-radius: 50px;
  margin-bottom: 35px;
}

.empty_phe {
  width: 128px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.Dekstop_02 {
  display: flex;
  gap: 80px;
  margin-top: 150px;
}

.Dekstop_phe {
  display: flex;
  gap: 143px;
  margin-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 1px solid #000;
}

.Previous_button {
  width: 200px;
  height: 70px;
  color: black;
  border-radius: 50px;
}

.Next_button {
  width: 200px;
  height: 70px;
  background: #000000;
  border-radius: 50px;
  color: white;

}

.circle_0 {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #000;
}

.History_01 {
  display: flex;
  gap: 35px;
  margin-top: 150px;
  height: 51px;
  width: 231px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 90px;
}
.history_container{

  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  height: fit-content;
  max-height: 350px;
} 

.bg_color {
  background-color: lightgrey;
  border: 0px;

}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:last-child {
  scroll-behavior: smooth;
  scroll-snap-align: end;
  scroll-margin: 5px;
}
